.header {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
    margin-bottom: 3%;
    padding-top: 1%;

    &__icone {
        display: flex;
        align-self: center;
        font-size: 1.2em;
        padding-left: 1.2em;
    }
}