@font-face {
    font-family: 'robotoregular';
    src: url('/webfonts/roboto-regular-webfont.woff2') format('woff2'),
         url('/webfonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'shrikhandregular';
    src: url('/webfonts/shrikhand-regular-webfont.woff2') format('woff2'),
         url('/webfonts/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}